@font-face {
    font-family: budmo_jiggler;
    src: url('../fonts/budmo_jiggler-webfont.woff') format('woff'),
         url('../fonts/budmo_jiggler-webfont.woff2') format('woff2');
}

h2, h4, h3 {
    font-family: 'Cinzel', serif;
}